@charset "UTF-8";

/* color */
$color_main: #ff0101;
$color_gray: #f1f1f1;
$color_point: #ed8000;
//1373px
//media
$media767: 767px; // スマホタブレット用のブレイクポイント
$media1023: 1023px; // タブレット用のブレイクポイント1
$media1280: 1250px; // PC用のブレイクポイント2
$media1640: 1640px; // PC用のブレイクポイント2

@mixin sp {
  @media screen and (min-width: ($media767)) {
    @content;
  }
}
@mixin tab {
  @media screen and (min-width: ($media1023)) {
    /* タブレット用レイアウト 1,025px以上の範囲に収めるデザインはこの中に記述 */
    @content;
  }
}
@mixin media1280 {
  @media screen and (min-width: ($media1280)) {
    @content;
  }
}
@mixin media1640 {
  @media screen and (min-width: ($media1640)) {
    @content;
  }
}
/*
英語のタイトル
font-family: 'Josefin Sans', sans-serif;
MVのBGフォント
font-family: 'Noto Sans JP', sans-serif;
日本語の基本フォント
font-family: 'Zen Maru Gothic', serif;

*/
/* commonスタイル */
html[lang="ja"] {
  font-size: 62.5%;
  font-family: Zen Maru Gothic, serif, Noto Sans JP, Hiragino Kaku Gothic ProN,
    Meiryo, sans-serif;
}

body {
  margin: -2rem 0 0 0;
  max-width: 100%;
  width: 100%;
  font-size: 1.4rem;
  padding: 0;
  position: relative;
  @include tab() {
  }
} /*font-size : 14px と同等*/
a {
  text-decoration: none;
  color: #222;
}
ul,
li {
  list-style: none;
  margin: 0;
}
ul {
  padding: 0;
}
img {
  width: 100%;
}
figure {
  margin: 0;
}

.pc {
  display: none;
  @include tab() {
    display: flex;
  }
}
.sp {
  display: block;
  @include tab() {
    display: none;
  }
}
.contents {
  padding: 0 1.5rem;
  @include tab() {
    max-width: 100rem;
    width: 72%;
    margin: 0 auto;
  }
}
h1,
h4 {
  margin: 0;
}
h2 {
  margin: 0;
  font-size: 3.5rem;
  font-weight: bold;
  @include tab() {
    font-size: 4.5rem;
  }
}
h3 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  @include tab() {
    font-size: 3rem;
  }
}
.red_line {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  border-bottom: 5px solid $color_main;
  line-height: 1.3rem;
  @include tab() {
    border-bottom: 9px solid $color_main;
    font-size: 5.5rem;
    line-height: 1.8rem;
  }
}

.more_icon {
  display: inline-flex;
  background: #ffffff;
  height: calc(tan(60deg) * 10px / 2);
  height: 10px;
  width: 10px;
  margin-left: 1rem;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}
.contact_btn {
  z-index: 9999999;
  font-size: 7px;
  position: fixed;
  right: 1rem;
  top: 1rem;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid $color_main;
  height: 8rem;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  @include tab() {
    font-size: 10px;
    top: 4rem;
    right: 2rem;
    height: 10rem;
    width: 10rem;
  }
  p {
    text-align: center;
    line-height: 1.5;
    span {
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.4rem;
      @include tab() {
        font-size: 1.6rem;
      }
    }
  }
}
/* header */
header {
  padding: 10rem 0 3rem;
  width: 100%;
  background-color: #f1f1f1;
  position: relative;
  z-index: 0;
  @include tab {
    padding: 18rem 0;
  }

  .bg_font {
    position: absolute;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 6.8rem;
    color: #fff;
    z-index: -1;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    @include tab {
      font-size: 27rem;
      top: 60%;
      left: 50%;
    }
  }
  .header_inner {
    z-index: 2;
    width: 90%;
    margin: 0 auto 4rem;
    @include tab() {
      margin: 0 auto 9rem;
      max-width: 100rem;
    }
    h1 {
      text-align: center;
      font-size: 3rem;
      font-weight: bold;
      padding-bottom: 4rem;
      @include tab() {
        font-size: 7cqb;
        padding-bottom: 7rem;
      }
      small {
        font-size: 1.6rem;
        padding-bottom: 2rem;
        @include tab() {
          font-size: 2.5rem;
        }
      }
      span {
        color: $color_main;
      }
    }
    figure {
      display: flex;
      justify-content: center;
      @include tab() {
        display: unset;
      }
      img {
        max-width: 30rem;
        @include tab() {
          max-width: unset;
        }
      }
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    @include tab() {
      width: 50rem;
    }
    a {
      font-size: 1.6rem;
      font-weight: bold;
      color: #222;
      @include tab() {
        font-size: 1.8rem;
      }
    }
  }
}
/*main */
main {
  width: 100%;
  .about {
    background-color: #f1f1f1;
    padding: 5rem 1.5rem 8rem;
    @include tab() {
      text-align: center;
      padding: 5rem 0 30rem;
    }
    &_box {
      border: #222 2px solid;
      background-color: #fff;
      padding: 6rem 1.5rem 4rem;
      @include tab() {
        padding: 10rem 0 15rem;
      }
      h3 {
        padding: 3rem 0;
        @include tab() {
          padding: 4rem 0;
        }
      }
      p {
        font-size: 1.5rem;
        line-height: 2;
        @include tab() {
          font-size: 1.7rem;
        }
      }
    }
  }
  .media {
    background-color: $color_main;

    @include tab() {
      text-align: center;
    }
    &_box {
      padding: 6rem 1.5rem;
      @include tab() {
        padding: 18rem 0 10rem;
      }
      h2 {
        position: relative;
        z-index: 1;
        padding-bottom: 3rem;
        font-size: 3.5rem;
        font-weight: bold;
        font-family: "Josefin Sans", sans-serif;
        line-height: 1.7rem;
        color: #fff;
        @include tab() {
          font-size: 5.5rem;
          line-height: 1.8rem;
          padding-bottom: 7rem;
        }
      }
      ul {
        padding: 2rem 0;
        @include tab() {
          padding: 5rem 0 3rem;
        }
        li {
          background-color: #fff;
          line-height: 2rem;
          margin-bottom: 4rem;
          display: flex;
          flex-direction: column;
          border-radius: 5px;
          @include tab() {
            max-height: 26rem;
            flex-direction: row;
            line-height: 2rem;
            margin-bottom: 10rem;
          }
          img {
            @include tab() {
              width: 45%;
              object-fit: contain;
              object-position: left;
            }
          }
          .media_box_list {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 3rem;
            @include tab() {
              padding-bottom: unset;
            }

            p {
              font-weight: bold;
              line-height: 2;
              text-align: center;
              font-size: 1.5rem;
              @include tab() {
                line-height: 1.5;
                font-size: 1.8rem;
              }
            }
            a {
              background-color: #222;
              display: block;
              line-height: 2;
              text-align: center;
              color: #fff;
              width: 20rem;
              border-radius: 1rem;
              @include tab() {
                font-size: 1.4rem;
                width: 22rem;
              }
            }
          }

          &:last-child {
            margin-bottom: 0;
            @include tab() {
              margin-bottom: 6rem;
            }
          }
        }
      }
    }
  }
  .service {
    z-index: 1;
    padding-bottom: 5rem;
    @include tab() {
      padding: 5rem 0;
    }
    &_head {
      padding: 6rem 1.5rem 0;
      text-align: center;
      @include tab() {
        max-width: 100rem;
        text-align: left;
        padding-top: 9.5rem;
      }
      h3 {
        font-size: 2rem;
        padding: 1rem 0 0;
        @include tab() {
          font-size: 3rem;
          padding: 2rem 0 0 6rem;
        }
      }
    }
    .service_wrap {
      background-color: #fff;
      padding-top: 6rem;
      @include tab() {
        padding-top: 10rem;
      }
      &_item {
        display: flex;
        flex-direction: column;
        padding-bottom: 6rem;

        @include tab() {
          max-width: 95rem;
          flex-direction: row;
          align-items: flex-start;
          padding-bottom: 12rem;
        }
        figure {
          position: relative;
          order: 1;
          width: 70%;
          margin: 2rem auto;
          @include tab() {
            width: 35%;
            padding-right: 12rem;
            margin: 2rem auto 0;
          }
          img {
            border-radius: 50%;
          }
          figcaption {
            font-size: 3.7rem;
            font-weight: bold;
            font-family: "Noto Sans JP", sans-serif;
            color: $color_main;
            position: absolute;
            top: -3rem;
            left: 4rem;
            transform: rotate(-10deg);
            -moz-transform: rotate(-10deg);
            -webkit-transform: rotate(-10deg);
            @include tab() {
              top: -4.5rem;
              left: 7rem;
              font-size: 5rem;
            }
          }
        }
        &_list {
          order: 2;
          @include tab() {
            order: 1;
            width: 50%;
          }
          h4 {
            font-size: 2.3rem;
            font-weight: bold;
            line-height: 4rem;
            text-align: center;
            @include tab() {
              text-align: left;
              font-size: 3rem;
              line-height: 5rem;
            }
          }
          p {
            margin-bottom: 3rem;
            line-height: 3rem;
            font-size: 1.6rem;
            @include tab() {
              font-size: 1.7rem;
              line-height: 3rem;
            }
          }
          .address {
            font-size: 1.5rem;
            line-height: 1.5;
            @include tab() {
              line-height: 2;
            }
            span {
              display: inline-block;
              width: 6rem;
              @include tab() {
              }
            }
          }
        }
      }
      &:nth-child(odd) {
        background-color: #f1f1f1;
        padding-top: 6rem;
        @include tab() {
          padding-top: 10rem;
        }
        .service_wrap_item {
          @include tab() {
            justify-content: space-between;
          }
          &_img {
            position: relative;
            order: 1;
            @include tab() {
              order: 2;
            }
            figure {
              @include tab() {
                padding-right: unset;
                width: 33rem;
              }
              figcaption {
                text-align: right;
                top: -2rem;
                right: 3rem;
                transform: rotate(10deg);
                -moz-transform: rotate(10deg);
                -webkit-transform: rotate(10deg);
                @include tab() {
                  top: -4.5rem;
                  right: 5rem;
                }
              }
            }
            a {
              margin: 2rem auto 0;
              background-color: #ff0101;
              color: #fff;
              width: 80%;
              text-align: center;
              display: block;
              padding: 0.5rem 0;
              border-radius: 1rem;
              @include tab() {
                margin: 4rem auto 0;

                width: 25rem;
              }
            }
          }
          &_list {
            order: 2;
            @include tab() {
              order: 1;
              width: 50%;
            }
          }
        }
      }
      &:nth-child(4) {
        .service_wrap_item {
          .address {
            span {
              width: 8rem;
              @include tab() {
              }
            }
          }
        }
      }
      &:nth-child(5) {
        .service_wrap_item {
          @include tab() {
            padding-bottom: 7rem;
          }
          &_img {
            padding-bottom: 4rem;
            @include tab() {
              padding-bottom: unset;
            }
          }
        }
      }
    }
  }
  .message {
    padding-top: 5rem;
    position: relative;
    @include tab() {
      padding-top: 20rem;
    }
    .message_img {
      position: absolute;
      right: 0;
      top: -10rem;
      height: 15rem;
      width: 15rem;
      padding-bottom: 7rem;
      background-image: url("../images/message_img.png");
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 100%;
      @include tab() {
        background-size: 40rem;
        top: -20rem;
        height: 50rem;
        width: 50rem;
      }
    }
    .shikaku {
      display: block;
      width: 7rem;
      height: 3rem;
      background-color: $color_main;
      position: absolute;
      top: 0;
      left: 0;
      @include tab() {
        width: 19rem;
        height: 9rem;
        top: -10rem;
        left: -18rem;
      }
    }
    &_box {
      position: relative;
      z-index: -1;
      padding-bottom: 5rem;
      @include tab() {
        padding-bottom: 15rem;
      }
      h2 {
        padding-top: 7rem;
      }
      &_item {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        @include tab() {
          flex-direction: row;
          align-items: center;
          width: 50rem;
          padding: 5rem 0 5rem;
        }
        figure {
          width: 70%;
          margin: 2rem auto;
          @include tab() {
            width: 50%;
            margin: unset;
            padding-right: 6rem;
          }
        }
        h3 {
          text-align: center;
          font-size: 2.5rem;
          @include tab() {
            text-align: left;
            font-size: 3.5rem;
            width: 50%;
          }
        }
      }
      p {
        font-size: 1.5rem;
        line-height: 2;
        @include tab() {
          font-size: 1.8rem;
          width: 85%;
        }
      }
    }
  }
  .contact_us {
    background-color: #f1f1f1;
    @include tab() {
    }
    &_box {
      position: relative;
      padding: 7rem 1.5rem;
      @include tab() {
        text-align: center;
        padding: 15rem 0;
      }
      h2 {
        position: relative;
        z-index: 1;
        padding-bottom: 2rem;
        font-size: 3.5rem;
        font-weight: bold;
        font-family: "Josefin Sans", sans-serif;
        line-height: 1.7rem;
        @include tab() {
          font-size: 5.5rem;
          line-height: 1.8rem;

          padding-bottom: 3rem;
        }
      }

      p {
        padding: 0 0 2rem;
        @include tab() {
          padding: 0 0 3rem;
        }
      }
      &_google {
        @include tab() {
        }
        iframe {
          width: 100%;
          height: 120rem;
          overflow: unset;
          @include tab() {
            height: 110rem;
          }
        }
      }
    }
  }
}

/** footer */
.footer {
  position: relative;
  background-color: $color_main;
  padding: 2rem 0 5px;
  text-align: center;
  color: #fff;
  @include tab() {
    padding: 2rem 0 1rem;
  }

  ul {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto 4rem;
    width: 80%;
    @include tab() {
      margin: 5rem auto 7rem;
      width: 50rem;
    }
    a {
      color: #fff;
    }
  }
  .copyright {
    font-size: 12px;
    margin: 0;
    color: #fff;
    a {
      color: #fff;
    }
  }
}

/** inview **/

.js-fade {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: opacity 1.5s, visibility 1.5s, transform 1.5s;
}

.inview {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

// 下からフェードイン
.js-fadeBottom {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: opacity 1.5s, visibility 1.5s, transform 1.5s;
}
.js-fadeBottom.inview {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

// 上からフェードイン
.js-fadeTop {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50px);
  transition: opacity 1.5s, visibility 1.5s, transform 1.5s;
}
.js-fadeTop.inview {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

// 左からフェードイン
.js-fadeLeft {
  opacity: 0;
  visibility: hidden;
  transform: translateX(50px);
  transition: opacity 1.5s, visibility 1.5s, transform 1.5s;
}
.js-fadeLeft.inview {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}

// 右からフェードイン
.js-fadeRight {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50px);
  transition: opacity 1.5s, visibility 1.5s, transform 1.5s;
}
.js-fadeRight.inview {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}

/**パララックス*/
.parallax1 {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
}
