@charset "UTF-8";

@import "style";

/* min(top) */

main {
  width: 100%;
  margin-top: 7rem;
  background-color: rgb(0, 0, 0);
  .mv {
    position: relative;
    overflow: hidden;
    background-image: url("../images/top/main_sp.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    height: 40vh;
    z-index: 1;
    @include tab() {
      height: 90vh;
      background-image: url("../images/top/main_pc.jpg");
    }
    h2 {
      position: absolute;
      top: 10%;
      left: 15%;
      color: #fff;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      @include tab() {
        top: 30%;
        left: 15%;
      }
    }
    .contact {
      display: none;
      @include tab() {
        display: block;
        position: absolute;
        bottom: 7%;
        right: 3rem;
        background-color: $color_sub;
        color: #fff;
        padding: 1rem 0;
        width: 25rem;
        text-align: center;
      }
      &_box {
        letter-spacing: 2px;
        line-height: 2.2rem;
        font-size: 2rem;
        span {
          font-size: 1.4rem;
        }
      }
    }
  }
  .work {
    background-color: #f7f6f2;
    padding: 0.1.5rem;
    width: 100%;
    padding: 5rem 0;
    @include tab() {
      padding: 10rem 0;
    }

    .contents {
      @include tab() {
        text-align: center;
      }
      h2 {
        position: relative;
        margin: 0 0 0 2rem;
        @include tab() {
          -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
          margin: 0 auto 4.5rem;
        }
        .sankaku {
          top: -1rem;
          left: -2rem;
          @include tab() {
            top: -2rem;
            left: -1rem;
          }
        }
      }
      p {
        line-height: 3rem;
        padding-bottom: 3rem;
        @include tab() {
          padding-bottom: 7rem;
          font-size: 1.8rem;
          line-height: 5rem;
        }
      }
    }
  }
  .strength {
    z-index: 1;
    position: relative;
    @include tab() {
    }

    &_wrap {
      padding: 5rem 0;
      background-image: url("../images/top/strength_bg.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @include tab() {
        padding: 15rem 0 27rem;
        background-size: 100%;
      }
      &:after {
        content: "";
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: white;
        opacity: 0.5;
      }
    }
    .contents {
      z-index: 3;
      position: relative;
      h2 {
        position: relative;
        margin: 0 0 3rem 2rem;
        @include tab() {
          text-align: center;
          margin: 0 auto 4.5rem;
        }

        .sankaku {
          top: -1rem;
          left: -2rem;
          @include tab() {
            left: 50%;
            top: -2rem;
          }
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tab() {
          flex-direction: row;
          justify-content: space-around;
        }
        li {
          text-align: center;
          position: relative;
          background-color: #fff;
          border-radius: 50%;
          height: 20rem;
          width: 20rem;
          margin-bottom: 10rem;
          @include tab() {
            height: 25rem;
            width: 25rem;
          }

          .icon {
            background-image: url("../images/top/icon_stength1.png");
            background-repeat: no-repeat;
            background-size: 12rem;
            background-position: center;
            height: 20rem;
            width: 20rem;
            @include tab() {
              background-size: 15rem;

              height: 25rem;
              width: 25rem;
            }
          }
          &:nth-child(2) .icon {
            background-image: url("../images/top/icon_stength2.png");
          }
          &:nth-child(3) .icon {
            background-image: url("../images/top/icon_stength3.png");
          }
        }
        p {
          font-size: 2rem;
        }
      }
    }
    &_btm {
      padding: 0;
      margin: -5rem 0 0 0;
      @include tab() {
        margin: -15rem auto 0;
      }
      p {
        width: 85%;
        padding: 3rem 1.5rem;
        background-color: $color_sub;
        line-height: 2.5rem;
        font-size: 1.6rem;
        color: #fff;
        margin: 0 auto 5rem;
        @include tab() {
          text-align: center;
          padding: 5rem 0;
          font-size: 2rem;
          line-height: 3.5rem;
          margin: 0 auto 15rem;
        }
      }
    }
  }
  .staff {
    padding: 5rem 0;

    @include tab() {
      padding: 15rem 0;
    }
    &_box {
      display: flex;
      flex-direction: column;
      @include tab() {
        flex-direction: row;
        justify-content: center;
      }
      figure {
        order: 1;
        @include tab() {
          overflow: hidden;
          max-height: 60rem;
          width: 65%;
          order: 2;
        }

        img {
          @include tab() {
            object-fit: cover;
            min-height: 60rem;
          }
        }
      }
      &_item {
        margin-top: -4px;
        background-color: #222;
        order: 2;
        padding: 5rem 1.5rem;
        @include tab() {
          margin-top: unset;
          padding: 15rem 0 16rem;
          width: 40%;
          order: 1;
        }
        h2 {
          position: relative;
          margin: 0 0 3rem 2rem;
          @include tab() {
            text-align: center;
            margin: 0 auto 4.5rem;
          }

          .sankaku {
            top: -1rem;
            left: -2rem;
            border-color: transparent transparent #fff transparent;

            @include tab() {
              left: 50%;
              top: -2rem;
            }
          }
        }
        p {
          color: #fff;
          font-size: 1.5rem;
          line-height: 2;
          padding-bottom: 2rem;
          @include tab() {
            text-align: center;
            font-size: 1.6rem;
            padding-bottom: 3.5rem;
          }
        }
        .link {
          display: block;
          background-color: $color_sub;
          width: 20rem;
          height: 4rem;
          line-height: 4rem;
          color: #fff;
          text-align: center;
          font-size: 1.6rem;
          margin: 0 auto;
          @include tab() {
            width: 21rem;
            height: 5rem;
            font-size: 1.8rem;
            line-height: 5rem;
          }
        }
      }
    }
  }
  .blog {
    padding: 0 0 5rem;
    @include tab() {
      padding: 0 0 15rem 0;
    }
    .contents {
      @include tab() {
      }
      h2 {
        position: relative;
        margin: 0 0 3rem 2rem;
        @include tab() {
          text-align: center;
          margin: 0 auto 4.5rem;
        }

        .sankaku {
          top: -1rem;
          left: -2rem;
          @include tab() {
            left: 50%;
            top: -2rem;
          }
        }
      }
      ul {
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        @include tab() {
          padding-bottom: 9rem;
          flex-direction: row;
          gap: 3rem;
        }
        li {
          @include tab() {
            width: 30%;
          }
          a {
            figure {
              overflow: hidden;
              max-height: 20rem;
              @include tab() {
                max-height: 24rem;
              }
              img {
                object-fit: cover;
                object-position: center;
              }
            }
            .blog_box {
              padding: 1rem 0;
              .date {
                font-weight: bold;
                font-size: 1.5rem;
                color: #bbb;
                @include tab() {
                  font-size: 1.6rem;
                }
              }
              h3 {
                margin: 0 0 1rem;
                color: $color_sub;
                font-weight: bold;
                font-size: 1.8rem;
                @include tab() {
                  font-size: 2.2rem;
                }
              }
              p {
                margin: 0;
                color: #222;
              }
            }
          }
        }
      }
    }
  }
  .contact_us {
    background-color: #f7f6f2;
    padding: 5rem 0;
    @include tab() {
      padding: 15rem 0;
    }
    .contents {
      @include tab() {
      }
      h2 {
        position: relative;
        margin: 0 0 0 2rem;
        @include tab() {
          text-align: center;
        }

        .sankaku {
          transform: rotate(0);
          border-width: 7px 0 7px 12px;
          border-color: transparent transparent transparent $color_sub;
          top: 1rem;
          left: -2rem;
          @include tab() {
            left: 26rem;
            top: 1.7rem;
          }
        }
      }
      p {
        font-size: 1.8rem;
        padding-bottom: 2rem;
        @include tab() {
          padding-bottom: 5rem;

          text-align: center;
          font-size: 2rem;
        }
      }
      .contact_btns {
        display: flex;
        flex-direction: column;
        @include tab() {
          flex-direction: row;
          gap: 0 10rem;
        }
        &_link {
          position: relative;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $color_sub;
          height: 4rem;
          line-height: 1rem;
          color: #fff;
          text-align: center;
          font-size: 1.6rem;
          margin: 0 auto 2rem;
          @include tab() {
            height: 5rem;
            font-size: 1.8rem;
            line-height: 5rem;
            margin: 0 auto;
          }
          &:last-child {
            font-size: 2rem;
            margin: 0 auto;
          }
          .material-symbols-outlined {
            padding-right: 1rem;
            font-size: 2rem;
            :before {
              font-family: "Material Icons";
              content: "e0b0";
            }
          }
        }
      }
    }
  }
}
